<%- include('partials/header') -%>
    <div class="body-center">
      <h1 class="item-div"><%= currWeather.city %></h1>
      <div class="table-responsive weather-div">
        <table class="table">
          <tbody>
            <div class="cell-div">
              <tr>
                <td>Temparature</td>
                <td><%=currWeather.temp%> &#8451;</td>
              </tr>
            </div>
            <div class="cell-div">
              <tr>
                <td>Humidity</td>
                <td><%=currWeather.humidity%> %</td>
              </tr>
            </div>
            <div class="cell-div">
              <tr>
                <td>Wind</td>
                <td><%=currWeather.wind%> m/s</td>
              </tr>
            </div>
            <div class="cell-div">
              <tr>
                <td>Rain</td>
                <td><%=currWeather.rain%></td>
              </tr>
            </div>
            <div class="cell-div">
              <tr>
                <td>Time</td>
                <td><%= currWeather.time %></td>
              </tr>
            </div>
            <div class="cell-div">
              <tr>
                <td>Date</td>
                <td><%=currWeather.date%></td>
              </tr>
            </div>
          </tbody>
        </table>
      </div>
      <div class="item-div">
        <a href="/" class="btn btn-dark">Home</a>
        <a href="/logout" class="btn btn-dark">Log Out</a>
      </div>
    </div>
    <%- include('partials/footer') -%>